{% extends "base.html" %}

{% block title %}
    Operations Command
{% endblock %}

{% block stylesheets %}
    <style>
        .table-container {
            width: 100%;
            overflow-x: auto;
            max-width: 100%;
        }

        .table-responsive .table {
            display: table;
            min-width: 1500px;
        }

        .table-responsive .table th, .table-responsive .table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block content %}

    <form method="GET" action="/sorted_agents" class="form-inline">
        <div class="form-group mb-2 mr-sm-2">
            <label for="query" class="sr-only">Search</label>
            <input type="text" class="form-control" name="query" id="query" placeholder="Enter search term">
        </div>

        <div class="form-group mb-2 mr-sm-2">
            <label for="sortby" class="sr-only">Sort/Search by</label>
            <select name="sortby" id="sortby" class="form-control">
                <option value="local_ip">IP range</option>
                <option value="country">Country</option>
                <option value="region">Region</option>
                <option value="city">City</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Search & Sort</button>
    </form>


    <div class="table-container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>UID</th>
                    <th>Username</th>
                    <th>Hostname</th>
                    <th>Local IP</th>
                    <th>Local Groups</th>
                    <th>Email</th>
                    <th>OS Name</th>
                    <th>Version</th>
                    <th>OS Arch</th>
                    <th>Public IP</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>Country</th>
                    <th>Postal</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Agent creation</th>
                    <th>File addition</th>
                    <th>Upload status</th>
                    <th>Explore files</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for agent in agents %}
                    <tr>
                        <td>{{ agent.id }}</td>
                        <td>{{ agent.uid }}</td>
                        <td>{{ agent.username }}</td>
                        <td>{{ agent.hostname }}</td>
                        <td>{{ agent.local_ip }}</td>
                        <td>{{ agent.local_groups }}</td>
                        <td>{{ agent.email }}</td>
                        <td>{{ agent.os_name }}</td>
                        <td>{{ agent.os_version }}</td>
                        <td>{{ agent.os_arch }}</td>
                        <td>{{ agent.public_ip }}</td>
                        <td>{{ agent.city }}</td>
                        <td>{{ agent.region }}</td>
                        <td>{{ agent.country }}</td>
                        <td>{{ agent.postal }}</td>
                        <td>{{ agent.latitude }}</td>
                        <td>{{ agent.longitude }}</td>
                        <td>{{ agent.agent_creation.strftime('%Y-%m-%d %H:%M:%S') if agent.agent_creation else 'N/A' }}</td>
                        <td>{{ agent.file_addition.strftime('%Y-%m-%d %H:%M:%S') if agent.file_addition else 'N/A' }}</td>
                        <td>
                            {% if agent.upload_complete %}
                            Completed
                            {% else %}
                            Incomplete
                            {% endif %}
                        </td>
                        <td>
                            {% if agent.file_path and agent.upload_complete %}
                                <a href="{{ url_for('view_files', uid=agent.uid) }}" class="btn btn-success">View</a>
                            {% else %}
                                <span>N/A</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if agent.file_path and agent.upload_complete %}
                            <button onclick="DeleteAgent({{ agent.id }})" class="btn btn-danger">Delete</button>
                            {% else %}
                                <span>N/A</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    {% block scripts %}
        <script>
            function DeleteAgent(agentId) {
                var confirmation = confirm("Do you really want to delete this agent? This will also delete associated files and cannot be undone.");

                if (confirmation) {
                    $.ajax({
                        type: "GET",
                        url: "/delete_agent/" + agentId,
                        success: function (response) {
                            window.location.href = "/command";
                        },
                        error: function (error) {
                            window.location.href = "/command";
                        }
                    });
                }
            }
        </script>

    {% endblock %}
{% endblock %}
