{% extends "base.html" %}

{% block title %}
    Executables
{% endblock %}

{% block stylesheets %}
    <style>
        #uploadButton {
            margin-bottom: 2%;
        }

        #downloadBtn {
            background-color: #003965;
            color: #fff;
        }

        .description-cell {
            width: 300px !important;
            max-width: 300px !important;
            overflow-x: scroll !important;
            white-space: nowrap !important;
            display: block !important;
        }

    </style>
{% endblock %}

{% block content %}

    <!-- Button to trigger modal -->
    <button id="uploadButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
        Upload Executable
    </button>

    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="exeUploadForm">
                        <!-- Filename field with counter -->
                        <div class="form-group">
                            <label for="filename">Filename (will be saved as .exe):</label>
                            <input type="text" class="form-control" id="filename" name="filename"
                                   placeholder="Enter filename (without .exe)" maxlength="32"
                                   oninput="updateCounter(this, 'filename-counter')">
                            <small id="filename-counter" class="form-text text-muted">0/32</small>
                        </div>

                        <!-- Description field with counter -->
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" name="description" rows="2"
                                      placeholder="Enter description"
                                      maxlength="1000" oninput="updateCounter2(this, 'description-counter')"></textarea>
                            <small id="description-counter" class="form-text text-muted">0/1000</small>
                        </div>

                        <!-- Public selection field -->
                        <div class="form-group">
                            <label for="public">Public:</label>
                            <select class="form-control" id="public" name="public">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>

                        <!-- File input field -->
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exeFileUpload" name="file"
                                       accept=".exe">
                                <label class="custom-file-label" for="exeFileUpload">Choose file</label>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Filename</th>
                    <th>Description</th>
                    <th>Creation date</th>
                    <th>Delete</th>
                    <th>Public</th>
                    <th>Link</th>
                </tr>
                </thead>
                <tbody>
                {% for exe in executables %}
                    <tr>
                        <td>{{ exe.id }}</td>
                        <td>{{ exe.filename }}</td>
                        <td class="description-cell">{{ exe.description }}</td>
                        <td>{{ exe.creation_date }}</td>
                        <td>

                            <button onclick="DeleteExecutable({{ exe.id }})" class="btn btn-danger">Delete</button>
                        </td>
                        <td>{{ exe.public }}</td>
                        <td>
                            <a id="downloadBtn"
                               href="{{ request.host_url[:-1] + url_for('downloads', filename=exe.filename) }}"
                               class="btn">Download</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#exeFileUpload').on('change', function () {
                // Get the selected file
                var file = this.files[0];

                // Check if it's an .exe file
                if (file && file.name.endsWith('.exe')) {
                    // Update the label with the file name
                    $(this).next('.custom-file-label').html(file.name);
                } else {
                    alert("Please select a valid .exe file.");
                    this.value = ''; // Clear the field
                    $(this).next('.custom-file-label').html("Choose file");
                }
            });
        });

        $('#exeUploadForm').on('submit', function (e) {
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: '/executables',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {

                    // Insert success message directly into the modal body
                    var successMessage = '<div id="dynamicSuccessAlert" class="alert alert-success" role="alert">' +
                        'Upload successful!' +
                        '</div>';
                    $('.modal-body').prepend(successMessage);

                    // Remove success message after 5 seconds
                    setTimeout(function () {
                        $('#dynamicSuccessAlert').fadeOut('slow', function () {
                            $(this).remove();
                        });
                    }, 5000);

                    console.log('Upload successful!', response);
                }
            });
        });


        function updateCounter(input, counterId) {
            var counter = document.getElementById(counterId);
            counter.textContent = input.value.length + '/' + input.maxLength;
        }

        function updateCounter2(input, counterId) {
            var counter = document.getElementById(counterId);
            counter.textContent = input.value.length + '/1000'; // Assuming 1000 is the max length for description
        }

        function DeleteExecutable(exe_id) {
            var confirmation = confirm("Do you want to delete this executable?");

            if (confirmation) {
                $.ajax({
                    type: "GET",
                    url: "/delete_exe/" + exe_id,
                    success: function (response) {
                        window.location.href = "/executables";
                    },
                    error: function (error) {
                        window.location.href = "/executables";
                    }
                });
            }
        }


    </script>
{% endblock %}

