{% extends "base.html" %}

{% block title %}
    Map
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <style>
        #map {
            height: 1000px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="map"></div>
    <br><br>
    <div class="table-container">
        <div class="row">
            <!-- Table for Countries -->
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Country</th>
                            <th>Agents</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for country, count in countries %}
                            <tr>
                                <td>{{ country }}</td>
                                <td>{{ count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Table for Cities -->
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>City</th>
                            <th>Agents</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for city, count in cities %}
                            <tr>
                                <td>{{ city }}</td>
                                <td>{{ count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script>
        var map = L.map('map', {
            maxBounds: [[-90, -180], [90, 180]],  // Set the world's bounds
            maxBoundsViscosity: 1.0,              // Make it hard to drag the map out of bounds
            minZoom: 2                             // Set the minimum zoom level to show the whole world
        }).setView([0, 0], 2);                    // Center the map on the equator and prime meridian

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            noWrap: true,                        // Prevent the map tiles from wrapping around horizontally
            maxZoom: 19,
            minZoom: 2,                          // Update this to match the map's minZoom
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        // Fetch the agent data
        fetch('/get_agents')
            .then(response => response.json())
            .then(agents => {
                // Loop through the data and add a marker for each agent
                agents.forEach(agent => {
                    L.marker([agent.latitude, agent.longitude])
                        .addTo(map)
                        .bindPopup(agent.hostname); // Bind a popup with the hostname to the marker
                });
            })
            .catch(error => {
                console.error('Error fetching the agent data:', error);
            });
    </script>

{% endblock %}

